@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --main--orange-color: #fd390e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: black;
  height: 300vh;
  width: 100vw;
  overflow-x: hidden;
}
.nav-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 15vh;
  display: flex;
  transition: 0.4s;
}
.logo-container {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo-container > a {
  text-decoration: none;
}
.logo-container > a > h4 {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: black;
}
.logo-container > a > h4 > span {
  color: var(--main--orange-color);
}
nav {
  width: 25%;
}
nav > ul {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}
nav > ul > li > a::after {
  content: "";
  width: 0;
  height: 2.5px;
  background-color: var(--main--orange-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transition: all ease 0.3s;
  z-index: 10;
}
nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}
.search-container {
  width: 30%;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.search-container > i {
  position: absolute;
  left: 10px;
  top: calc(50%-50%);
}
.search-container > input {
  width: 90%;
  height: 2rem;
  padding-left: 2.5rem;
  outline: none;
  border: none;
}
.fa-magnifying-glass {
  color: #999;
}
.log-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.log-container > a > button {
  font-weight: 700;
  font-size: 0.8rem;
  padding: 9px 25px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.user::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f007";
  font-size: 1rem;
}
.log-container > a {
  text-decoration: none;
}
.log-container > a:nth-child(1) > button {
  color: var(--main--orange-color);
  background-color: transparent;
  border: none;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.log-container > a:nth-child(2) > button {
  border-radius: 5px;
  color: white;
  background-color: var(--main--orange-color);
  border: 2px solid var(--main--orange-color);
}
.log-container > a:nth-child(2) > button:hover {
  box-shadow: 0 5px 10px rgba(253, 57, 14, 0.4);
  /* transform: scale(1.01); */
}
.active {
  color: var(--main--orange-color) !important;
  transition: all ease 0.3s !important;
}
.scrollNav {
  height: 12vh;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
